.headline {
  font-weight: 300;
  font-size: 1.9rem;
  color: $mainBlue;

  &--white {
    color: rgba(255, 255, 255, 0.97);
    display: inline-block;
  }

  @mixin atSmall {
    font-size: 2.875rem;
  }

  &--centered {
    text-align: center;
  }

  &--orange {
    color: $mainOrange;
  }

  &--small {
    font-size: 1.2rem;
    @mixin atSmall {
      font-size: 1.875rem;
    }
  }

  &--narrow {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }

  &--light {
    font-weight: 100;
  }

  &--b-margin-small {
    margin-bottom: 0.5em;
  }

  &--b-margin-large {
    margin-bottom: 1.6em;
  }

  &--no-t-margin {
    margin-top: 0;
  }
  &--no-margin {
    margin: 0;
  }
  &--t-margin-small {
    margin-top: -1em;
  }
}
