.row {
  @mixin clearfix;

  &--gutters {
    margin-right: -65px;
  }

  &--gutters-large {
    margin-right: -100px;
  }

  &--gutters > div {
    padding-right: 65px;
  }

  &--gutters-large > div {
    padding-right: 100px;
  }

  @mixin atMedium {
    &__md-4 {
      float: left;
      width: 33.33%;
    }

    &__md-4-larger {
      width: 37%;
    }

    &__md-6 {
      float: left;
      width: 50%;
    }

    &__md-8 {
      float: left;
      width: 66.66%;
    }

    &__md-8-smaller {
      width: 63%;
    }
    &__md-12 {
      width: 100%;
      text-align: center;
    }
  }
}
